.Chat
  .Chat-main__group-info
    .Chat-leftbox
      %h2.Chat-test__member   
        メンバー
      %ul.Chat-test__myname 
        menber : 
        %li.Chat-test__myname__mine 
          えいき
    .Chat-edit
      = link_to "#", class: "btn" do
        Edit

  .Chat-main__message-list
    .Chat-main-leftbox
      .Chat-main-myname
        えいき
      .Chat-main-daytime
        2020.6.25
    .Chat-main-message
      こんにちは
    .Chat-main-leftbox
      .Chat-main-myname
        えいき
      .Chat-main-daytime
        2020.6.25
    .Chat-main-message
      こんにちは


  .Chat-main__message-form
    .Form-new-massage
      .Form__coment
        %input.form{:name => "title", :size => "40",placeholder:"type a message"}
        %label.gallery{ class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "hidden" }
      .Form__send
        %input{:type => "submit", :value => "send", class:"submit"}
      











      -# = form_with url: "#", html:{class: "form"} do |f|
      -#   = f.text_field :content, class: 'form__text', placeholder: "入力してね"
      -#   = f.submit 'send', class: 'form__send'    
      -# = link_to"#",class: "Form__btn__icon"do
      -#   = icon('fas','image',class: "file")
          

       
      