.Chat
  .Chat-main__group-info
    .Chat-leftbox
      %h2.Chat-test__member   
        メンバー
      %ul.Chat-test__myname 
        名前 : 
        %li.Chat-test__myname__mine 
          えいき
    .Chat-edit edit






  .Chat-main__message-list
  .Chat-main__message-form