.Side
  .Side-bar_head
    .Side-box   
      .Side-name
        abc 
      .Side-icon 
        = link_to"#",class: "Contents__btn--icon"do
          = icon('far','edit', class: 'pen')
          %span<>
        = link_to"#",class: "Contents__btn--icon"do
          = icon('fa','cogss', class: 'gear')
          %span<>
  .Side-bar_main 
    .Side-message Tech camp
    .Side-text メッセージがあります
    .Side-message Tech camp
    .Side-text メッセージがあります
    .Side-message Tech camp
    .Side-text メッセージがあります
    .Side-message Tech camp
    .Side-text メッセージがあります
