* {
  box-sizing: border-box;
}
.Side {
  width: 300px;
  position: absolute;
}
.Side-bar_head {
  height: 100px;
  background-color: #253141;
  display: flex;
  align-items: center;
}
.Side-bar_main {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  color: #ffffff;
}
.Side-name {
  color: #ffffff;
}




.Chat {
  width: calc(100vw - 300px);
  position: relative;
  margin-left: 300px
}
.Chat-main__group-info {
  height: 100px;
  background-color: #ffffff;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Chat-main__message-list {
height: calc(100vh - 190px);
background-color: #fafafa;
}
.Chat-main__message-form {
height: 90px;
background-color: #d2d2d2;
}
.Chat-test__myname{
  display: flex;
}
.Chat-test__member{
  color: #333333;
  font-size: 20px;
  padding: 35px 0 0 40px;
}
.Chat-test__myname{
  color: #999999;
  font-size: 12px;
  margin: 15px 0 0 40px;
}
.Chat-test__myname__mine {
  color: #999999;
  font-size: 12px;
}
.Chat-edit {
  font-size: 16px;
  border: 1px solid #38aef0;
  margin: 28px 40px;
  padding: 3px 20px;
  text-decoration: none;
}

.Side-box {
  height: 20px;
  width: 260px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  text-align: right;
}
.Side-icon {
  width: 60px;
}
  
.Contents__btn--icon {
  color: #ffffff;
}
.pen {
  padding: 0 5px 0 0;
}
.Side-message {
  font-size: 15px;
  padding: 20px 20px 0 20px;
}
.Side-text {
  font-size: 11px;
  padding: 5px 20px 40px 20px;
}
.btn{
  color: #38aef0;
  text-decoration: none;
}

.Chat-main-myname {
  color: #333333;
  font-size: 16px;
}
.Chat-main-leftbox {
  display: flex;
  justify-content: left;
  padding: 35px 0 12px 40px;
}
.Chat-main-message {
  color: #434a54;
  margin: 0 0 0 40px;
  font-size: 14px;
}
.Chat-main-daytime {
  color: #999999;
  font-size: 12px;
  margin: 0 10px;
}



.Form {
  display: flex;
}
.submit{
  color: white;
  background-color: #38aef0;
}











.submit-btn {
  width: 100px;
  height: 50px;
  padding: 0 30px;
  margin-left: 15px;
  background-color: #eeeeee;
  font-size: 15px;
  color: #1a1d21;
}